@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
* {
	margin: 0;
	padding: 0;
	border: 0;
	transition: all 0.5s ease;
}
* {
	-webkit-transition-duration: 0.3s;
	/* Safari */
	transition-duration: 0.3s;
}
a {
	color: #676767;
	text-decoration: none;
	font-family: "Fira Sans", sans-serif;
}
a:hover {
	text-decoration: none;
	color: #ab0a3d;
}
li {
	list-style: none;
}
p {
	line-height: 24px;
	padding: 0 0 1.3em;
}
img {
	border: none;
}
a img {
	border: none;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-family: "Playfair Display", serif;
	font-weight: normal;
}
/* Forms */
form {
	display: inline;
}
fieldset {
	border: 0;
}
legend {
	display: none;
}
/* Table */
table {
	border: 0;
	/*border-collapse:collapse;*/
	border-spacing: 0;
	empty-cells: show;
	font-size: 100%;
}
caption,
th,
td {
	vertical-align: top;
	text-align: left;
	font-weight: normal;
}
/* Content */
p {
	margin: 0 0 10px;
}
strong {
	font-weight: bold;
}
address {
	font-style: normal;
	line-height: 1.35;
}
cite {
	font-style: normal;
}
q,
blockquote {
	quotes: none;
}
q:before,
q:after {
	content: "";
}
small,
big {
	font-size: 1em;
}
/*sup           { font-size:1em; vertical-align:top; }*/
/* Lists */
ul,
ol {
	list-style: none;
	font-size: 12px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0;
	margin-left: 0px;
}
/* Tools */
.hidden {
	display: block !important;
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	font-size: 0 !important;
	line-height: 0 !important;
	width: 0 !important;
	height: 0 !important;
	overflow: hidden !important;
}
.nobr {
	white-space: nowrap !important;
}
.wrap {
	white-space: normal !important;
}
.a-left {
	text-align: left !important;
}
.a-center {
	text-align: center !important;
}
.a-right {
	text-align: right !important;
}
.v-top {
	vertical-align: top;
}
.v-middle {
	vertical-align: middle;
}
.f-left,
.left {
	float: left !important;
}
.f-right,
.right {
	float: right !important;
}
.f-none {
	float: none !important;
}
.f-fix {
	float: left;
	width: 100%;
}
.no-display {
	display: none;
}
.no-margin {
	margin: 0 !important;
}
.no-padding {
	padding: 0 !important;
}
.no-bg {
	background: none !important;
}
.clear {
	clear: both;
	display: block;
}
.clear40 {
	clear: both;
	height: 40px;
	display: block;
}
.clear20 {
	clear: both;
	height: 20px;
	display: block;
}
/* ======================================================================================= */
body {
	font-family: "Lora", serif;
	font-size: 16px;
	color: #676767;
	overflow-x: hidden;
}
.pw-body {
}
.pw-body .pw-left {
	width: 55%;
	float: left;
	position: relative;
}
.pw-body .pw-right {
	width: 45%;
	float: right;
	background: #1b1e23;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
}
.pw-body .pw-right .pwRightInr {
	position: absolute;
	top: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
}
.pw-body:after {
	content: "";
	height: 1px;
	width: 100%;
	clear: both;
	display: block;
}
.iContainer {
	width: 85%;
	margin: 0 auto;
}
.helloSec {
	background: url(../images/pimageBG.png) right bottom no-repeat;
	padding: 40px 0px 0px;
}
.helloSec:after {
	content: "";
	height: 1px;
	width: 100%;
	clear: both;
	display: block;
}
.hsLeft {
	width: 60%;
	float: left;
	padding-top: 100px;
}
.hsRight {
	width: 40%;
	float: left;
}
.hsLeft p {
	font-size: 18px;
	color: #ccc;
	width: 75%;
}
.hsLeft p span {
	clear: both;
	display: block;
	margin: 10px auto;
}
.hsRight img {
	width: 100%;
	height: auto;
}
.socialFooter {
}
.socialFooter ul {
	margin: 0 auto;
	display: inline-block;
}
.socialFooter ul li {
	display: inline-block;
	margin: 20px 10px;
	text-align: left;
	font-size: 20px;
}
.socialFooter ul li a {
	color: #fff;
}
.bioSec {
	background: #0c71c3;
	padding: 40px 0px;
}
.bioSec h3 {
	font-size: 48px;
	color: #fff;
	font-family: "Playfair Display", serif;
	margin-bottom: 20px;
}
.bioSec p {
	font-size: 18px;
	color: #fff;
	margin-bottom: 20px;
}
.bioSec a.rmore {
	font-size: 16px;
	color: #fff;
	display: inline-block;
	padding: 15px 20px;
	border: 1px solid #fff;
	font-family: "Fira Sans", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 4px;
}
.bioSec a.rmore:hover {
	background: #fff;
	color: #0c71c3;
}
.myProSec {
	padding: 40px 0px;
}
.blockHead {
	text-align: left;
	position: relative;
}
.blockHead:after {
	content: "";
	height: 1px;
	width: 100%;
	clear: both;
	display: block;
}
.blockHead .bhLeft {
	width: 60%;
	float: left;
}
.blockHead .bhRight {
	width: 40%;
	float: left;
}
.blockHead .bhRight img {
	width: 100%;
	margin-top: -200px;
}
.blockHead h4 {
	color: #0c71c3;
	margin: 20px auto 30px;
	line-height: 36px;
	position: relative;
	font-size: 48px;
}
.blockHead .titleTag {
	font-size: 18px;
	color: #ccc;
	position: relative;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.blockHead .titleDesco {
	font-size: 18px;
	color: #ccc;
	padding-bottom: 10px;
}
.myProSec h5 {
	font-size: 18px;
	color: #fff;
	position: relative;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.myProSec p {
	font-size: 18px;
	color: #fff;
	margin-bottom: 20px;
}
.myProSec a.rmore {
	font-size: 16px;
	color: #fff;
	display: inline-block;
	padding: 15px 20px;
	border: 1px solid #fff;
	font-family: "Fira Sans", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 4px;
}
.myProSec a.rmore:hover {
	background: #fff;
	color: #0c71c3;
}
.ctaSec {
	padding: 40px 0px;
}
.ctaSec h4 {
	font-size: 36px;
	color: #0c71c3;
	margin-bottom: 20px;
}
.ctaSec ul.ctaList {
}
.ctaSec ul.ctaList:after {
	content: "";
	height: 1px;
	width: 100%;
	clear: both;
	display: block;
}
.ctaSec ul.ctaList li {
	width: 40%;
	margin-right: 2%;
	margin-bottom: 20px;
	float: left;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}
.ctaSec ul.ctaList li .ctaImage {
}
.ctaSec ul.ctaList li .ctaImage img {
	width: 100%;
	height: auto;
}
.ctaSec ul.ctaList li .ctaMatr {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.9);
	text-align: center;
	top: 0;
	left: 0;
	padding-top: 70px;
}
.ctaSec ul.ctaList li .ctaMatr h5 {
	font-size: 20px;
	color: #000;
}
.ctaSec ul.ctaList li .ctaMatr i {
	color: #0c71c3;
	font-size: 48px;
	clear: both;
	display: block;
	margin-bottom: 20px;
}
.ctaSec ul.ctaList li:hover .ctaMatr {
	background: #0c71c3;
	color: #fff;
}
.ctaSec ul.ctaList li:hover .ctaMatr i {
	color: #fff;
}
.ctaSec ul.ctaList li:hover .ctaMatr h5 {
	color: #fff;
}
.poweredBy {
	margin: 20px auto 100px;
	color: #fff;
	letter-spacing: 3px;
	font-size: 18px;
}

.ipList iframe {
	min-width: unset !important;
	max-width: 100% !important;
	width: 100% !important;
}
/*******************************************************************************grid*******************************/
h1.logo {
	text-align: left;
	font-size: 18px;
	color: #fff;
}
.container {
}
h4 {
}
.row {
}
.row .row {
}
[class*="col-"] {
}
hr {
}
.headerContainer {
	display: block;
	clear: both;
	width: 100%;
	position: relative;
	z-index: 9;
}
ul.navbar-nav {
	display: none;
	clear: both;
	display: block;
	justify-content: space-between;
	padding: 0;
	margin-top: 30px;
}
ul.navbar-nav li {
	display: inline-block;
	margin-left: 40px;
}
ul.navbar-nav li a {
	font-size: 16px;
	color: #000;
	text-transform: uppercase;
}
/****************************************************************************************************bootstrap navigation style removed here************/
.navbar {
	margin-bottom: 0px !important;
}
.navbar-default .navbar-collapse {
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
}
.navbar-default {
	background: none !important;
	border: none !important;
}
.navbar-default .navbar-nav > .active > a {
	background: none !important;
	color: #fd7f07 !important;
}
.navbar-default .navbar-nav > li {
	display: inline-block;
	text-align: center;
	float: left;
	padding-left: 0px !important;
	padding-right: 13px;
}
.navbar-default .navbar-nav > li > a {
	color: #fff !important;
	font-size: 16px;
	text-transform: uppercase;
	padding: 14px 20px 28px 20px !important;
}
.navbar-default .navbar-nav > li > a:hover {
	padding: 14px 20px 14px 20px !important;
	color: #f8c20a !important;
	background: none;
	border-radius: 0px;
}
.navbar-default .navbar-nav > li > a:hover {
	text-decoration: none;
}
.container-fluid {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.navbar-default .navbar-nav > .open > a {
	background: none !important;
}
.navbar-nav {
	margin: 0 auto;
	display: block;
	text-align: right;
	width: 100%;
}
.filterAction {
	text-align: left;
	padding-top: 30px;
}
.filterAction {
	clear: both;
	display: block;
	font-size: 14px;
	color: #fff;
}
.filterAction span {
	border-bottom: 1px solid #fff;
}
.postsDisplay {
	margin: 50px auto;
}
.tweetPost {
	border: 1px solid #ebebeb;
	border-radius: 4px;
	margin-bottom: 30px;
}
.tweetPost img {
	width: 100%;
}
.instaPost {
	margin-bottom: 30px;
	margin-top: 20px;
}
.instaPost ul.ipList {
}
.instaPost ul.ipList:after {
	content: "";
	height: 1px;
	width: 100%;
	clear: both;
	display: block;
}
.instaPost ul.ipList li {
	width: 31.333%;
	margin-right: 3%;
	float: left;
	display: inline-block;
	border-radius: 4px;
}
.instaPost ul.ipList li img {
	width: 100%;
}
.instaPost ul.ipList li:nth-child(3n) {
	margin-right: 0;
}
.blogPost {
	margin-bottom: 30px;
}
.eachBlog {
	padding-bottom: 10px;
	border-bottom: 2px solid #000;
	margin-bottom: 30px;
}
.eachBlog .bImage {
	width: 100%;
	clear: both;
	display: block;
	margin-bottom: 20px;
}
.eachBlog .bImage img {
	width: 100%;
}
.eachBlog .bMatr {
	width: 100%;
	clear: both;
	display: block;
	color: #000;
}
.eachBlog .bMatr .bDate {
	font-size: 16px;
	letter-spacing: 2px;
	margin-bottom: 5px;
	font-family: "Fira Sans", sans-serif;
}
.eachBlog .bMatr h3 {
	font-size: 32px;
	margin-bottom: 20px;
}
.eachBlog .bMatr h3 a {
	color: #000;
	font-family: "Playfair Display", serif;
}
.eachBlog .bMatr h3 a:hover {
	color: #0c71c3;
}
.eachBlog .bMatr p {
	font-size: 16px;
	margin-bottom: 20px;
}
.eachBlog .bMatr a.rmore {
	font-size: 16px;
	font-family: "Lora", serif;
	color: #000;
}
.eachBlog .bMatr a.rmore:hover {
	color: #0c71c3;
}
.eachBlog.col2BlogPost {
	border-top: 2px solid #000;
	padding-top: 20px;
}
.eachBlog.col2BlogPost:after {
	content: "";
	height: 1px;
	width: 100%;
	clear: both;
	display: block;
}
.eachBlog.col2BlogPost .bImage {
	width: 30%;
	float: left;
	margin-right: 5%;
	display: inline;
	clear: unset;
}
.eachBlog.col2BlogPost .bMatr {
	width: 65%;
	float: left;
	color: #000;
	display: inline;
	clear: unset;
}
.desktopNav {
	display: block;
}
.mobileNav {
	display: none;
}
.headerContainer {
	display: block;
}
.headerContainerMobile {
	display: none;
}
.navbar-dark .navbar-toggler-icon {
	background: none;
	color: #000;
}
.navbar-dark .navbar-toggler {
	border: none;
	padding: 0;
}
.bg-dark {
	background-color: #fff !important;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
	text-decoration: none;
	outline: 0 !important;
}
span.navbar-toggler-icon i {
	font-size: 40px;
}
.mobileHeader {
	background: #1b1e23;
	display: none;
}
#open-nav-menu,
.nav-icon {
	width: 64px;
	height: 62px;
	z-index: 3;
	position: fixed;
	top: 0;
	right: 0;
	padding: 1em;
	padding-top: 23px;
	cursor: pointer;
}
.icon-bar {
	display: block;
	width: 32px;
	height: 2px;
	background-color: #fff;
	margin-bottom: 8px;
	opacity: 1;
	transition: all 0.5s ease;
	-webkit-transform: traslate(0, 0) rotate(0);
	transform: traslate(0, 0) rotate(0);
}
.icon-bar:last-child {
	margin-bottom: 0;
}
.nav-icon.opened .icon-bar:first-child {
	width: 40px;
	-webkit-transform: translate(-4px, 10px) rotate(45deg);
	transform: translate(-4px, 10px) rotate(45deg);
}
.nav-icon.opened .icon-bar:last-child {
	width: 40px;
	-webkit-transform: translate(-4px, -10px) rotate(-45deg);
	transform: translate(-4px, -10px) rotate(-45deg);
}
.nav-icon.opened .icon-bar:nth-child(2) {
	opacity: 0;
}
.mobileNav {
	background: #1b1e23;
	position: fixed;
	width: 100%;
}
.logoArea {
	width: 70%;
	float: left;
}
.logoArea img {
	width: 80%;
	padding: 10px;
}
.postFtr {
	clear: both;
	display: block;
	margin-top: 10px;
}
.postFtr:after {
	content: "";
	height: 1px;
	width: 100%;
	clear: both;
	display: block;
}
.postFtr ul.pftrList {
	padding: 10px 0px;
}
.postFtr ul.pftrList li {
	width: 20%;
	float: left;
	display: inline-block;
}
.postFtr ul.pftrList li:nth-child(3) {
	width: 60%;
	float: left;
	display: inline-block;
}
.postFtr ul.pftrList li a {
	color: #767676;
	font-size: 16px;
}
.postFtr ul.pftrList li:last-child {
	width: 100%;
	clear: both;
	display: block;
	margin-top: 10px;
	padding: 10px 0px;
	border-top: 1px solid #ebebeb;
}
.postFtr ul.pftrList li:last-child span {
	background: #ebebeb;
	padding: 5px 10px;
	border-radius: 4px;
	margin-right: 8px;
	display: inline-block;
	margin-bottom: 10px;
}
@media (max-width: 768px) {
	.iContainer {
		width: 100%;
	}
	.logoArea img {
		width: auto;
		height: 68px;
	}
	.pw-body .pw-left {
		width: 100%;
		float: none;
	}
	.pw-right {
		display: none;
	}
	.filterAction {
		text-align: right;
	}
	.navbar-toggler:focus,
	.navbar-toggler:hover {
		text-decoration: none;
		outline: 0 !important;
	}
	button.navbar-toggler {
		padding: 0;
		position: absolute;
		top: 20px;
	}
	.navbar {
		padding: 10px 0px;
	}
	ul.navbar-nav {
		text-align: left;
		padding-top: 10px;
	}
	ul.navbar-nav li {
		display: block;
		margin: 10px 5px;
	}
	.instaPost ul.ipList li {
		width: 100%;
	}
	.eachBlog.col2BlogPost .bImage {
		width: 100%;
	}
	.eachBlog.col2BlogPost .bMatr {
		width: 100%;
	}
	.desktopNav {
		display: none;
	}
	.mobileNav {
		display: block;
	}
	span.navbar-toggler-icon i {
		font-size: 30px;
		color: #fff;
	}
	.headerContainer {
		display: none;
	}
	.headerContainerMobile {
		display: block;
		background: #1b1e23;
		position: relative;
		z-index: 999;
	}
	.mobileHeader {
		background: #1b1e23;
		margin-top: 65px;
		display: none;
		position: fixed;
		z-index: 2;
	}
	.mobileHeader_inner {
		overflow: auto;
		height: 100vh;
		padding-bottom: 30px;
	}
	.mobileNav .navbar-toggler {
		margin-left: 8%;
	}
	.ctaSec ul.ctaList li {
		width: 48%;
	}
	.ctaSec ul.ctaList li .ctaMatr {
		padding-top: 30px;
	}
	.helloSec {
		position: relative;
		padding: 40px 15px 0px;
	}
	.bioSec{
		padding: 40px 15px;
	}
	.myProSec{
		padding: 40px 15px;
	}
	.ctaSec{
		padding: 40px 15px;
	}
	.hsRight {
		height: 100%;
		position: absolute;
		right: 0;
		bottom: 0;
	}
	.hsRight img {
		position: absolute;
		bottom: 0;
	}
	.hsLeft {
		padding-top: 30px;
	}
	.postsDisplay {
		margin: 100px auto 50px;
	}
}
.open-button {
	background-color: #022346;
	color: white;
	border: none;
	cursor: pointer;
	position: fixed;
	bottom: 23px;
	right: 28px;
	width: 60px;
	height: 60px;
	border-radius: 100px;
}

.chat-popup {
	display: none;
	position: fixed;
	bottom: 25px;
	right: 27px;
	border: 2px solid #01182f;
	z-index: 9;
	background: #000000c9;
	width: 35%;
	border-radius: 4px;
}

.form-container {
	max-width: 300px;
}

.form_close_btn {
	background-color: #022346;
	padding: 5px 0px;
	width: 100%;
	display: inline-block;
}

.form_close_btn span {
	color: #fff;
	margin-left: 20px;
	font-size: 18px;
}

.form_close_btn button {
	float: right;
	width: 40px !important;
	margin-right: 6px;
	height: 40px;
	padding: 0px !important;
	background: #ffffff !important;
}

.form_close_btn i {
	font-size: 25px;
	color: #ff0000;
}

.form-container input {
	padding: 5px 7px;
	width: 90%;
	margin-top: 10px;
	border: 1px solid #d3d3d3;
	margin-left: 23px;
	border-radius: 4px;
}

.form-container .btn {
	background-color: #01182f;
	color: white;
	padding: 16px 20px;
	border: none;
	width: 100%;
}

.form-btn {
	margin-top: 0px;
}

.form-type {
	padding: 10px;
	background-color: #022346;
}

.form-type textarea {
	width: 100%;
	padding: 2px 10px;
	font-family: "FontAwesome";
	background: aliceblue;
}

.form-type textarea {
	border: none;
	overflow: auto;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	resize: none;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	outline: 0;
	background: #f6f7f780;
}

.modal-dialog {
	max-width: 750px;
}

.modal-header .close {
	background: #dadada;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	padding: 0px;
	margin-top: 0;
	margin-right: -10px;
}

.modal-body_text textarea {
	border: none;
	overflow: auto;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	resize: none;
	padding: 0px 20px;
	font-size: 20px;
	width: 100%;
}

.modal-body_post {
	border: 1px solid #8f8888;
	margin-left: 20px;
	margin-top: 25px;
	margin-right: 20px;
	border-radius: 5px;
	height: 50px;
	margin-bottom: 20px;
}

.img_icon {
	color: #1a8e67;
}

.tag_icon {
	color: #e5890e;
}

.emoji_icon {
	color: #e5890e;
}

.post_text {
	color: #000000;
	font-size: 18px;
	margin-left: 20px;
	width: 60%;
	display: inline-block;
	padding: 12px 0px;
}

.post_icon {
	display: inline-block;
}

.post_icon li {
	display: inline-block;
	padding: 0px 8px;
}

.post_icon a {
	display: inline-block;
	font-size: 20px;
}

.modal-footer_btn a {
	text-align: center;
	background: #cfd1d3a8;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 15px;
	border-radius: 4px;
	padding: 8px 0px;
	display: block;
}

.modal-footer_btn:hover a {
	background: #3897f0;
	color: #ffffff;
}

input[type="text"],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type="submit"] {
	background-color: #1d9bf0;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

input[type="submit"]:hover {
	background-color: #097ac5;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px 50px;
}

.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 2px;
	background-color: #fff;
	margin: 8px 0;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width: 600px) {
	.col-25,
	.col-75,
	input[type="submit"] {
		width: 100%;
		margin-top: 0;
	}
}
.embeded_post iframe {
	width: 100% !important;
	max-width: 100% !important;
	min-width: 100% !important;
}
.embeded_post .twitter-tweet {
	width: 100% !important;
	max-width: 100% !important;
	min-width: 100% !important;
	display: block !important;
}

/** Style for Custom Modal Design **/
.pw_modal .modal-dialog {
	width: 100%;
	height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.pw_modal .modal_content {
	border: none;
}
.pw_modal .modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
}
.pw_modal .modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 15px;
	background-color: #0c71c3;
}
.pw_modal .modal-header .close {
	background: none;
	color: #fff;
	opacity: 1;
	font-size: 45px;
	width: 30px;
	height: 30px;
	margin: 0px;
	padding: 0px;
	line-height: 25px;
	margin-right: -5px;
}
.pw_modal .modal-title {
	color: #fff;
	font-family: "Lora", serif;
	font-weight: 600;
	font-size: 20px;
}
.pw_modal .modal-body {
	padding: 10px;
}
.pw_modal .user_info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 12px;
}
.pw_modal .user_info .user_info_inner {
	width: calc(100% - 200px);
}
.pw_modal .user_info .user_info_inner figure {
	margin: 0px;
	height: 50px;
	width: 50px;
	box-shadow: 1px 1px 5px rgb(0 0 0 / 35%);
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
}
.pw_modal .user_info .user_info_inner figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.pw_modal .user_info .user_info_inner h4 {
	font-family: "Lora", serif;
	color: #333;
	font-weight: 600;
	font-size: 18px;
	display: inline-block;
}
.pw_modal .user_info .user_post_type {
	width: 200px;
	padding: 10px 15px;
	background-color: #f1f1f1;
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: 600;
	color: #333;
}
.pw_modal textarea {
	padding: 5px 10px;
	font-size: 14px;
	line-height: 26px;
	color: #333;
	outline: none;
	resize: none;
	max-height: 90px;
	border-color: #ddd;
}
.pw_modal textarea:focus {
	border-color: #0c71c3;
}
.pw_modal .fieldrow {
	margin-bottom: 15px;
}
.pw_modal input {
	font-size: 14px;
	font-weight: 500;
	color: #333;
	border: solid 1px #ddd;
	padding: 8px 10px;
	font-family: "Lora", serif;
	outline: none;
}
.pw_modal input:focus {
	border-color: #0c71c3;
}
.pw_modal .cke_contents {
	height: 125px !important;
}
.post_options h3 {
	font-family: "Lora", serif;
	font-size: 14px;
	font-weight: 600;
	color: #333;
	margin: 5px 0px;
	margin-bottom: 8px;
}
.post_options ul {
	padding-inline-start: 0px;
	margin: 0px;
}
.post_options ul li {
	display: inline-block;
	margin-right: 5px;
}
.post_options ul li a {
	display: block;
	font-size: 14px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #333;
	border: solid 1px #333;
	color: #fff;
}
.post_options ul li a:hover {
	background-color: #022346;
}
.pw_modal .modal_action {
	text-align: center;
	padding: 10px;
	padding-bottom: 15px;
}
.pw_modal .modal_action .publish_post {
	background-color: #0c71c3;
	color: #fff;
	font-family: "Lora";
	font-size: 16px;
	font-weight: 600;
	padding: 6px 20px;
	padding-bottom: 8px;
	border-radius: 5px;
}
.pw_modal .modal_action .publish_post:hover {
	background-color: #022346;
}
.pw_modal .uploaded_img {
	padding-inline-start: 0px;
	margin: 0;
	padding-top: 20px;
}
.pw_modal .uploaded_img li {
	display: inline-block;
	margin-right: 10px;
	position: relative;
	height: 65px;
	width: 65px;
}
.pw_modal .uploaded_img li img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 5px;
}
.pw_modal .uploaded_img li .remove_img {
	position: absolute;
	top: -6px;
	right: -5px;
	height: 18px;
	width: 18px;
	line-height: 20px;
	padding: 0px;
	font-size: 7px;
	background-color: #333;
	color: #fff;
	font-weight: normal;
	border-radius: 50%;
}
@media (max-width: 450px) {
}
@media (max-width: 380px) {
}
